/*blog管理页面*/

.blog_list a {
    color: #FFF;;
    text-decoration: none;
}

.blog_list p a{
    color: #FFF;
}

.blog_list p {
    color: #FFF;
}

.write_button{
    position: fixed;
    right: 20px;
    top:80px;

}