<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/blogs/static/css/manageBlog.css" type="text/css">
    <meta charset="UTF-8">
    <title>Blog Manage</title>
</head>
<body>
{% extends 'blogs/base.html' %}
{% block content %}
    <div class="blog_list">
        {% for blog in blogs %}
            <p class="blog_list_item">
            <a href="{% url 'blogs:blog' blog.id %}">{{ blog.title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ blog.createTime }}
            </p>
            <br>
        {% empty %}
            <p style="color: #FFF;">还没有blog，快去写一篇吧！！！</p>
        {% endfor %}
        <a href="{% url 'blogs:newEntity' %}">写Blog</a>
    </div>

{% endblock %}


</body>
</html>